@charset 'UTF-8';
/**
 * File Name : common.css
 * Version : 1.0
 * Description : 全ページ共通CSSファイル
 * Since : 2017-09-13
 *
 * ---- Table of Contents ----
 *
 * 1.0 - Foundation
 *    1.1 - Reset
 *    1.2 - Deault Style
 *
 * 2.0 - Layout
 *    2.1 - Centering
 *    2.2 - Header
 *    2.3 - Global Nav
 *    2.4 - Main
 *    2.5 - Section
 *    2.6 - Footer
 *
 * 3.0 - Object
 *    3.1 - Component
 *    3.2 - Project
 *    3.3 - Utility
 *
 */

/* ===================================================
  1.0 - Foundation
=================================================== */

/*
  1.1 - Reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/*
  1.2 - Default Style
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font: 100% 'Noto Sans JP', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  color: #212121;
}
body.is-active-drower {
  overflow: hidden;
}

body:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  content: '';
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
body.is-active-drower:before {
  visibility: visible;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

*[lang='en'] {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

@media screen and (min-width: 768px) {
  body.is-active-drower:before {
    display: none;
  }
}


/* ===================================================
  2.0 - Layout
=================================================== */

/*
  2.1 - Centering
*/
.l-wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.l-wrapper--sp--full {
  width: 100%;
}

/*
  2.2 - Header
*/
.l-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: .75em 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

.l-header__title {
  position: relative;
  z-index: 1;
  text-align: center;
}

.l-header__nav {
  float: right;
}

.l-header__action {
  position: absolute;
  top: 0;
  right: 2.5%;
  bottom: 0;
  margin: auto 0;
  width: 23px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .l-header {
    padding: 1.5em 0;
  }
  .l-header__title {
    float: left;
    text-align: left;
  }

  .l-header__nav {
    float: left;
    margin-left: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .l-header {
    padding: 1.75em 0;
  }
  .l-header__nav {
    margin-left: 4em;
  }
}

/*
  2.3 - Global Nav
*/
.l-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 3em 0 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: -webkit-transform .3s ease-in-out;
          transition:         transform .3s ease-in-out;
          transition:         transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateY(-120%); /* Android, Brackberry  */
      -ms-transform: translateY(-120%); /* IE9 */
          transform: translateY(-120%);
}

.l-global-nav__item {
  border-top: 1px solid #ddd;
}
.l-global-nav__item a {
  display: block;
  padding: 1em;
  color: #212121;
  text-decoration: none;
  font-weight: 700;
}

.l-global-nav__item a:hover {
  background-color: #f5f5f5;
}

.is-active-drower .l-global-nav {
  -webkit-transform: translateX(0); /* Android, Brackberry  */
      -ms-transform: translateX(0); /* IE9 */
          transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .l-global-nav {
    position: static;
    padding: 0;
    background-color: transparent;
    -webkit-transform: translateX(0); /* Android, Brackberry  */
        -ms-transform: translateX(0); /* IE9 */
            transform: translateX(0);
  }

  .l-global-nav__item {
    float: left;
    border-top: 0;
  }

  .l-global-nav__item + .l-global-nav__item {
    margin-left: 1em;
  }

  .l-global-nav__item a {
    padding: .2em .5em;
    color: #212121;
  }
}

/*
  2.4 - Main
*/
.l-main {
  clear: both;
  padding-top: 3em;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .l-main {
    padding-top: 4.5em;
  }
}

@media screen and (min-width: 1024px) {
  .l-main {
    padding-top: 5em;
  }
}

/*
  2.5 - Section
*/
.l-section {
  padding: 1.5em 0;
}

.l-section__button {
  clear: both;
  margin: 1.5em auto 0;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 2.5em 0;
  }

  .l-section__button {
    margin-top: 2.5em;
  }
}


/*
  2.6 - Footer
*/
.l-footer {
  clear: both;
}

.l-footer__nav__item {
  border-top: 1px solid #ddd;
}

.l-footer__nav__item a {
  display: block;
  padding: 1.5em;
  color: #616161;
  text-decoration: none;
  font-size: .75em;
}

.l-footer__nav__item a:hover {
  background-color: #f5f5f5;
}

.l-footer__siteinfo {
  padding: 1.5em;
  background-color: #212121;
  color: #ccc;
  text-align: center;
}

.l-footer__address {
  font-style: normal;
  font-size: .8em;
  line-height: 1.3;
}

.l-footer__copyright {
  margin-top: 1em;
  color: #9e9e9e;
  text-transform: capitalize;
  font-size: .8em;
}

.l-footer__copyright a {
  color: #9e9e9e;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .l-footer {
    text-align: left;
  }

  .l-footer__nav {
    margin-bottom: 1em;
    text-align: center;
  }

  .l-footer__nav__item {
    display: inline-block;
    padding: 0 .5em;
    border-top: none;
  }

  .l-footer__nav__item + .l-footer__nav__item {
    border-left: 1px solid #616161;
  }

  .l-footer__nav__item a {
    display: inline-block;
    padding: 0;
    border-bottom: 1px solid transparent;
  }

  .l-footer__nav__item a:hover {
    border-color: #616161;
    background-color: transparent;
  }

  .l-footer__address {
    float: left;
  }

  .l-footer__copyright {
    float: right;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .l-footer__nav {
    text-align: right;
  }
}


/* ===================================================
  3.0 - Object
=================================================== */

/*
  3.1 - Component
---------------------------------------/

/*
  3.1.1 - Grid System
*/
.grid {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0;
}

.grid--justify {
  display: block;
  margin: -4px;
  width: auto;
}

.grid__item {
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: top;
  text-align: left;
  font-size: medium;
}

.grid--justify .grid__item {
  border: 4px solid transparent;
  background-clip: padding-box; /* IE8　非対応 */
}

.grid__item--sp--1 {
  width: 8.33333%;
}

.grid__item--sp--2 {
  width: 16.66667%;
}

.grid__item--sp--3 {
  width: 25%;
}

.grid__item--sp--4 {
  width: 33.33333%;
}

.grid__item--sp--5 {
  width: 41.66667%;
}

.grid__item--sp--6 {
  width: 50%;
}

.grid__item--sp--7 {
  width: 58.33333%;
}

.grid__item--sp--8 {
  width: 66.66667%;
}

.grid__item--sp--9 {
  width: 75%;
}

.grid__item--sp--10 {
  width: 83.33333%;
}

.grid__item--sp--11 {
  width: 91.66667%;
}

.grid__item--sp--12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid--justify {
    margin: -8px;
  }
  .grid--justify .grid__item {
    border-width: 8px;
  }
  .grid__item--tab--1 {
    width: 8.33333%;
  }
  .grid__item--tab--2 {
    width: 16.66667%;
  }
  .grid__item--tab--3 {
    width: 25%;
  }
  .grid__item--tab--4 {
    width: 33.33333%;
  }
  .grid__item--tab--5 {
    width: 41.66667%;
  }
  .grid__item--tab--6 {
    width: 50%;
  }
  .grid__item--tab--7 {
    width: 58.33333%;
  }
  .grid__item--tab--8 {
    width: 66.66667%;
  }
  .grid__item--tab--9 {
    width: 75%;
  }
  .grid__item--tab--10 {
    width: 83.33333%;
  }
  .grid__item--tab--11 {
    width: 91.66667%;
  }
  .grid__item--tab--12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .grid__item--pc--1 {
    width: 8.33333%;
  }
  .grid__item--pc--2 {
    width: 16.66667%;
  }
  .grid__item--pc--3 {
    width: 25%;
  }
  .grid__item--pc--4 {
    width: 33.33333%;
  }
  .grid__item--pc--5 {
    width: 41.66667%;
  }
  .grid__item--pc--6 {
    width: 50%;
  }
  .grid__item--pc--7 {
    width: 58.33333%;
  }
  .grid__item--pc--8 {
    width: 66.66667%;
  }
  .grid__item--pc--9 {
    width: 75%;
  }
  .grid__item--pc--10 {
    width: 83.33333%;
  }
  .grid__item--pc--11 {
    width: 91.66667%;
  }
  .grid__item--pc--12 {
    width: 100%;
  }
}

/*
  3.1.2 - Heading
*/
.heading {
  display: block;
  font-weight: 700;
  margin-bottom: 1em;
}

.heading--primary {
  padding-left: .5em;
  text-align: center;
  font-size: 2em;
  line-height: .3;
}

.heading__caption {
  font-weight: 400;
  font-size: .375em;
}

.heading--primary span {
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .heading--primary {
    margin-bottom: .83333333em;
    font-size: 3em;
  }
  .heading__caption {
    font-size: .333333em;
  }
}

/*
  3.1.3 - Card
*/
.card {
  position: relative;
  display: block;
  padding-top: 70.945946%;
  background-color: #fff;
  color: #212121;
  text-decoration: none;
}

a.card:hover {
  background-color: #f5f5f5;
}

.card__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.card__image {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
a.card:hover .card__image {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.card__body {
  padding: .5em;
}

.card__title {
  overflow: hidden;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .75em;
}

.card__text {
  font-size: .75em;
}
.card__text--right {
  text-align: right;
}

.card .label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card__body {
    padding: 1em;
  }

  .card__title {
    font-size: 1em;
  }
  .card__text {
    font-size: 1em;
  }
}

/*
  3.1.4 - Media
*/
.media {
  display: block;
  overflow: hidden;
  padding: .5em;
  border: 1px solid #ddd;
  color: #212121;
  text-decoration: none;
}
a.media:hover {
  background-color: #f5f5f5;
}

.media__thumbnail {
  float: left;
  width: 34%;
}

.media__body {
  position: relative;
  float: right;
  width: 63%;
  line-height: 1.5;
}

.media__title {
  margin-top: 1.5em;
  font-size: .875em;
}

.media__publish {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .75em;
}

@media screen and (min-width: 768px) {
  .media {
    padding: 1em;
  }

  .media__thumbnail {
    width: 37%;
  }

  .media__body {
    position: relative;
    width: 60%;
  }

  .media__title {
    font-size: 1em;
  }

  .media__publish {
    font-size: .875em;
  }
}

@media screen and (min-width: 1024px) {
  .media__thumbnail {
    width: 40%;
  }

  .media__body {
    position: relative;
    width: 57%;
  }

  .media__title {
    font-size: 1.25em;
  }

  .media__publish {
    font-size: 1em;
  }
}

/*
  3.1.5 - Button
*/
.button {
  position: relative;
  display: block;
  outline: 0;
  border: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none; /* Chrome, Safari, Opera, Android */
     -moz-appearance: none; /* Firefox */
          appearance: none; /* IE非対応 */
}

.button--primary {
  padding: 1.25em;
  background-color: #333;
  color: #fff;
  font-size: .875em;
}

.button--primary:before,
.button--primary:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto 0;
  width: .5em;
  height: .5em;
  content: '';
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; /* IE9非対応 */
  -webkit-transform: rotate(-45deg); /* Android, Brackberry  */
      -ms-transform: rotate(-45deg); /* IE9  */
          transform: rotate(-45deg);
}

.button--primary:before {
  right: 2em;
  background-color: #fff;
}

.button--primary:after {
  right: 2.2em;
  background-color: #333;
}

.button--primary:hover {
  background-color: #212121;
}

.button--primary:hover:before {
  right: 1.5em;
}

.button--primary:hover:after {
  right: 1.7em;
}

/* Button Hamburger */
.button--hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5%;
  z-index: 1;
  margin: auto 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.button--hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #263238;
}

.button--hamburger__line:before,
.button--hamburger__line:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
          transition:         transform .2s ease-in-out, -webkit-transform .2s ease-in-out; /* IE9非対応 */
}

.button--hamburger__line:before {
  top: -5px;
}

.button--hamburger__line:after {
  top: 5px;
}

.is-active-drower .button--hamburger__line {
  background-color: transparent;
}

.is-active-drower .button--hamburger__line:before,
.is-active-drower .button--hamburger__line:after {
  top: 0;
  background-color: #212121;
}

.is-active-drower .button--hamburger__line:before {
  -webkit-transform: rotate(-45deg); /* Android, Brackberry  */
      -ms-transform: rotate(-45deg); /* IE9  */
          transform: rotate(-45deg);
}

.is-active-drower .button--hamburger__line:after {
  -webkit-transform: rotate(45deg); /* Android, Brackberry  */
      -ms-transform: rotate(45deg); /* IE9  */
          transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .button--hamburger {
    display: none;
  }
}

/* Button Cart */
.button--cart {
  z-index: 1;
  height: 100%;
  background: url(../images/common/icon-cart@2x.png) no-repeat center center/24px auto;
}

.button--cart .buton__bagge {
  position: absolute;
  top: -.5em;
  right: 0;
  display: block;
  padding: .2em;
  width: 1.33333333em;
  height: 1.33333333em;
  border-radius: 50%;
  background-color: #eee;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: .75em;
}

/*
  3.1.6 - Label
*/
.label {
  display: inline-block;
  padding: .2em .5em;
  color: #fff;
  font-weight: 700;
  font-size: .75em;
}

.label--blue {
  background-color: #1a237e;
}
.label--red {
  background-color: #b71c1c;
}
.label--amber {
  background-color: #fbc02d;
}

/*
  3.1.7 - Accesibility
*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

/*
  3.2 - Project
---------------------------------------/

/*
  3.2.1 - Logo
*/

.p-logo {
  display: inline-block;
}

.p-logo--secondary {
  margin-bottom: 1em;
}

/*
  3.2.2 - Hero
*/
.p-hero {
  position: relative;
}

.p-hero__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Android, Brackberry  */
      -ms-transform: translate(-50%, -50%); /* IE9  */
          transform: translate(-50%, -50%);
}

.p-hero--home .p-hero__body {
  margin-left: 20%;
}

.p-hero--home .p-hero__copy {
  color: #212121;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  letter-spacing: .15em;
  font-weight: 700;
  font-size: 3.2vw; /* IE8以下非対応 */
}

.p-hero__image img {
  width: 100%;
}

.p-hero--home .p-hero__emphasis {
  display: block;
  font-size: 5em;
}
.p-hero--home .p-hero__subtext {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 2.2em;
}

.p-hero--home .p-hero__date {
  font-size: 1.15em;
}

@media screen and (min-width: 768px) {
  .p-hero--home .p-hero__body {
    margin-left: 30%;
  }
  .p-hero--home .p-hero__copy {
    font-size: 2.6vw;
  }
}
@media screen and (min-width: 1024px) {
  .p-hero--home .p-hero__body {
    margin-left: 32%;
  }
  .p-hero--home .p-hero__copy {
    font-size: 2.2vw;
  }
}

/*
  3.3 - Utility
---------------------------------------/

/*
  3.3.1 - Background Theme
*/
.u-theme--white {
  background-color: #fff;
}
